code/force-app/main/default/flows/Account_Update_Occupy_Related_Field_When_ResRM_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>All_Condition_Met</name>
        <label>All Condition Met?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Dummy_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Responsible_RM__r.UserRole.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Responsible_RM__r.Belong_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Customer_Data_Country__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Responsible_RM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Prior_PreOccupy_RM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ResponsibleRM_Personnel.Account_Remain_Quota__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Occupy_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Managed_RM</name>
        <label>Managed RM</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Managed_RM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ResponsibleRM_Personnel</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <description>RM判斷從 Profile 改成 Role</description>
    <environments>Default</environments>
    <formulas>
        <name>OccupyNum_1</name>
        <dataType>Number</dataType>
        <expression>{!Get_ResponsibleRM_Personnel.Reserved_Amount__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Today_180</name>
        <dataType>Date</dataType>
        <expression>TODAY()+180</expression>
    </formulas>
    <interviewLabel>Account: Update Occupy Related Field When ResRM Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Update Occupy Related Field When ResRM Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Dummy_User</name>
        <label>Get Dummy User</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_ResRM_and_Dummy_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ResponsibleRM_Personnel</name>
        <label>Get ResponsibleRM Personnel</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Condition_Met</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Responsible_RM__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Personnel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Empty_ResRM_and_Dummy_user</name>
        <label>Empty ResRM and Dummy user</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Dummy_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsible_RM__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Occupy_Account</name>
        <label>Occupy Account</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Personnal</targetReference>
        </connector>
        <inputAssignments>
            <field>PreOccupy_End_Date__c</field>
            <value>
                <elementReference>Today_180</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreOccupy_Start_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_PreOccupy_RM__c</field>
            <value>
                <elementReference>$Record.Responsible_RM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Release__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Personnal</name>
        <label>Update Personnal</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ResponsibleRM_Personnel.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reserved_Amount__c</field>
            <value>
                <elementReference>OccupyNum_1</elementReference>
            </value>
        </inputAssignments>
        <object>Personnel__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Managed_RM</targetReference>
        </connector>
        <filterFormula>{!$Record.Responsible_RM__c} &lt;&gt; {!$Record__Prior.Responsible_RM__c} &amp;&amp; NOT(ISBLANK({!$Record.Responsible_RM__c}))</filterFormula>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1300</triggerOrder>
</Flow>
