code/force-app/main/default/flows/Account_Change_Key_Value.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Update_AAR_Key</name>
        <label>Update AAR Key</label>
        <locationX>440</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>TempAAR</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAAR.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AAR_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAAR.CUB_External_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AARList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempAAR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AAR_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_KYC_Key</name>
        <label>Update KYC Key</label>
        <locationX>440</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>TempKYC</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempKYC.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KYC_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempKYC.Account_Key_Id_KYC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Key_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KYCList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempKYC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>KYC_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Private_Customer_Information</name>
        <label>Update Private Customer Information</label>
        <locationX>440</locationX>
        <locationY>2040</locationY>
        <assignmentItems>
            <assignToReference>TempPrivateCustomerInformation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPrivateCustomerInformation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_Customer_Information_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPrivateCustomerInformation.Private_Customer_Info_External_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Key_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrivateCustomerInformationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempPrivateCustomerInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Private_Customer_Information_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Private_Info_Key</name>
        <label>Update Private Info Key</label>
        <locationX>440</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>TempPrivateInfo</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPrivateInfo.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_Info_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPrivateInfo.Account_Private_Info_External_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Key_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrivateInfoList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempPrivateInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Private_Info_Loop</targetReference>
        </connector>
    </assignments>
    <description>當Account客戶資料國別或客戶ID或證件類型變更時，更新Account Private Info &amp;&amp; Party Profile &amp;&amp; AAR 客戶識別碼。</description>
    <environments>Default</environments>
    <formulas>
        <name>InverseKey</name>
        <dataType>String</dataType>
        <expression>{!AAR_Loop.RecordType.DeveloperName} &amp;
TEXT({!AAR_Loop.FinServ__RelatedAccount__r.Customer_Data_Country__c}) &amp;
TEXT({!AAR_Loop.FinServ__RelatedAccount__r.Identification_Type__c})&amp;
{!AAR_Loop.FinServ__RelatedAccount__r.Customer_ID__c} &amp;
TEXT({!AAR_Loop.FinServ__Account__r.Customer_Data_Country__c}) &amp;
TEXT({!AAR_Loop.FinServ__Account__r.Identification_Type__c})&amp;
{!AAR_Loop.FinServ__Account__r.Customer_ID__c} &amp;
IF({!AAR_Loop.RecordType.DeveloperName} = &quot;RelatedParties&quot;, TEXT({!AAR_Loop.Parties_Code__c}), &apos;&apos;) &amp;
IF({!AAR_Loop.RecordType.DeveloperName} = &quot;SupplyChain&quot;, TEXT({!AAR_Loop.FinServ__Role__r.SupplyChain_Type__c}), &quot;&quot;) &amp;
IF({!AAR_Loop.RecordType.DeveloperName} = &quot;SupplyChain&quot;, {!AAR_Loop.Year__c}, &quot;&quot;) &amp;
IF({!AAR_Loop.RecordType.DeveloperName} = &quot;Affiliate&quot;,
IF(INCLUDES({!AAR_Loop.Affiliate_Code__c}, &quot;A&quot;), &quot;A&quot;, &quot;&quot;) &amp;
IF(INCLUDES({!AAR_Loop.Affiliate_Code__c}, &quot;B&quot;), &quot;B&quot;, &quot;&quot;) &amp;
IF(INCLUDES({!AAR_Loop.Affiliate_Code__c}, &quot;C&quot;), &quot;C&quot;, &quot;&quot;) 
, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Key</name>
        <dataType>String</dataType>
        <expression>{!AAR_Loop.RecordType.DeveloperName} &amp;
TEXT({!AAR_Loop.FinServ__Account__r.Customer_Data_Country__c}) &amp;
TEXT({!AAR_Loop.FinServ__Account__r.Identification_Type__c})&amp;
{!AAR_Loop.FinServ__Account__r.Customer_ID__c} &amp;
TEXT({!AAR_Loop.FinServ__RelatedAccount__r.Customer_Data_Country__c}) &amp;
TEXT({!AAR_Loop.FinServ__RelatedAccount__r.Identification_Type__c})&amp;
{!AAR_Loop.FinServ__RelatedAccount__r.Customer_ID__c} &amp;
IF({!AAR_Loop.RecordType.DeveloperName} = &quot;RelatedParties&quot;, TEXT({!AAR_Loop.Parties_Code__c}), &apos;&apos;) &amp;
IF({!AAR_Loop.RecordType.DeveloperName} = &quot;SupplyChain&quot;, TEXT({!AAR_Loop.FinServ__Role__r.SupplyChain_Type__c}), &quot;&quot;) &amp;
IF({!AAR_Loop.RecordType.DeveloperName} = &quot;SupplyChain&quot;, {!AAR_Loop.Year__c}, &quot;&quot;) &amp;
IF({!AAR_Loop.RecordType.DeveloperName} = &quot;Affiliate&quot;,
IF(INCLUDES({!AAR_Loop.Affiliate_Code__c}, &quot;A&quot;), &quot;A&quot;, &quot;&quot;) &amp;
IF(INCLUDES({!AAR_Loop.Affiliate_Code__c}, &quot;B&quot;), &quot;B&quot;, &quot;&quot;) &amp;
IF(INCLUDES({!AAR_Loop.Affiliate_Code__c}, &quot;C&quot;), &quot;C&quot;, &quot;&quot;) 
, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Account : Change Key Value {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account : Change Key Value</label>
    <loops>
        <name>AAR_Loop</name>
        <label>AAR Loop</label>
        <locationX>352</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_AAR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_AAR_Key</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_AARList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>KYC_Loop</name>
        <label>KYC Loop</label>
        <locationX>352</locationX>
        <locationY>1416</locationY>
        <collectionReference>Get_KYC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_KYC_Key</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_KYCList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Private_Customer_Information_Loop</name>
        <label>Private Customer Information Loop</label>
        <locationX>352</locationX>
        <locationY>1932</locationY>
        <collectionReference>Get_Private_Customer_Information</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Private_Customer_Information</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PrivateCustomerInformation_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Private_Info_Loop</name>
        <label>Private Info Loop</label>
        <locationX>352</locationX>
        <locationY>900</locationY>
        <collectionReference>Get_Private_Info</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Private_Info_Key</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Private_Info_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AAR</name>
        <label>Get AAR</label>
        <locationX>352</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AAR_Loop</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FinServ__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__RelatedAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__AccountAccountRelation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_KYC</name>
        <label>Get KYC</label>
        <locationX>352</locationX>
        <locationY>1308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>KYC_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PartyProfile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Private_Customer_Information</name>
        <label>Get Private Customer Information</label>
        <locationX>352</locationX>
        <locationY>1824</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Private_Customer_Information_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Private_Customer_Information__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Private_Info</name>
        <label>Get Private Info</label>
        <locationX>352</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Private_Info_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Private_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_AARList</name>
        <label>Update AARList</label>
        <locationX>352</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Get_Private_Info</targetReference>
        </connector>
        <inputReference>AARList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_KYCList</name>
        <label>Update KYCList</label>
        <locationX>352</locationX>
        <locationY>1716</locationY>
        <connector>
            <targetReference>Get_Private_Customer_Information</targetReference>
        </connector>
        <inputReference>KYCList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Private_Info_List</name>
        <label>Update Private Info List</label>
        <locationX>352</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>Get_KYC</targetReference>
        </connector>
        <inputReference>PrivateInfoList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PrivateCustomerInformation_List</name>
        <label>Update PrivateCustomerInformation List</label>
        <locationX>352</locationX>
        <locationY>2232</locationY>
        <inputReference>PrivateCustomerInformationList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Customer_ID__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Identification_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Data_Country__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_AAR</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AARList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__AccountAccountRelation__c</objectType>
    </variables>
    <variables>
        <name>KYCList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PartyProfile</objectType>
    </variables>
    <variables>
        <name>PrivateCustomerInformationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Private_Customer_Information__c</objectType>
    </variables>
    <variables>
        <name>PrivateInfoList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Private_Info__c</objectType>
    </variables>
    <variables>
        <name>TempAAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__AccountAccountRelation__c</objectType>
    </variables>
    <variables>
        <name>TempKYC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PartyProfile</objectType>
    </variables>
    <variables>
        <name>TempPrivateCustomerInformation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Private_Customer_Information__c</objectType>
    </variables>
    <variables>
        <name>TempPrivateInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Private_Info__c</objectType>
    </variables>
</Flow>
