code/force-app/main/default/flows/Account_Create_Reminder_for_Next_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_New_Task_Values</name>
        <label>Assign New Task Values</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>tmpTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_New_Tasks.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_New_Tasks.Next_Review_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_New_Tasks.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>提醒您要重新填年度經營計劃</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>請重新填年度經營計劃</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tasksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tmpTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_New_Tasks</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>ThreeMonthsAfter</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), 3)</expression>
    </formulas>
    <interviewLabel>Account: Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Create Reminder for Next Review</label>
    <loops>
        <name>Process_New_Tasks</name>
        <label>Process New Tasks</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Accounts_with_Due_Date</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Task_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Tasks</name>
        <label>Insert Tasks</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <inputReference>tasksToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounts_with_Due_Date</name>
        <label>Get Accounts with Due Date</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_New_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Next_Review_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ThreeMonthsAfter</elementReference>
            </value>
        </filters>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts_with_Due_Date</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-12</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>tasksToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>tmpTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
