code/force-app/main/default/flows/Account_Plan_Create_Recommended_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_New_Recommended_Product</name>
        <label>Assign New Recommended Product</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>tmpRecommendedProduct.Account_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpRecommendedProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_products.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecommendedProductsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tmpRecommendedProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_products</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Account Plan: Create Recommended Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Plan: Create Recommended Products</label>
    <loops>
        <name>Iterate_through_products</name>
        <label>Iterate through products</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Recommended_Products_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Recommended_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Recommended_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Recommended_Products</name>
        <label>Insert Recommended Products</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputReference>RecommendedProductsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Recommended_Products_Metadata</name>
        <label>Get Recommended Products Metadata</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_products</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Recommended_Products__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Recommended_Products_Metadata</targetReference>
        </connector>
        <object>Account_Plan__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecommendedProductsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Result_Items__c</objectType>
    </variables>
    <variables>
        <name>tmpRecommendedProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Result_Items__c</objectType>
    </variables>
</Flow>
