code/force-app/main/default/flows/Account_Plan_Send_data_to_related_KYC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Account_Plan_Values</name>
        <label>Assign Account Plan Values</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Case_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Credit_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Credit_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Company_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Company_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.OBU_Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OBU_Company__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Company_Emp_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Company_Emp_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Lastyr_Fin_Report_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_Yr_Fin_Report_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Natural_Prepaid_Nature_Third_Party__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Target_is_a_Natural_Person__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Retail_Clerks_Deposit_Needs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Retail_Clerks_Deposit_Needs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Payment_Recipients_AAC_NDPC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Payment_Recipients_AAC_Need_DPC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Buyer_Credit_Card_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Buyer_Credit_Card_Payment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Other_Bank_Cash_Convert_TWD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Other_Bank_Cash_Convert_TWD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Other_Bank_Prof_Investor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Other_Bank_Prof_Investor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Customer_Prod_Sales_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Prod_Sales_Model__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Outsourcing_Ratio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Outsourcing_Percent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Export_Percent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Export_Percent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Domestic_Receipt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Domestic_Receipt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Outsourcing_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Outsourcing_Payment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Export_Receipt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Export_Receipt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Other_Bank_Factoring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Other_Bank_Factoring__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Ship_60Days_Known_Mfrs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Ship_60Days_Known_Mfrs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Ship_To_Sales_Target_SC_Fin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Ship_To_Sales_Target_SC_Fin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Collateral__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Collateral__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Transaction_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Transaction_Currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Other_Bank_PSR_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Other_Bank_PSR_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Party_Profile.Latest_Account_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Party_Profile</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Party_Profile_Found</name>
        <label>Is Party Profile Found</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Party_Profile.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Plan_Values</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>Syncs the result from Account Plan to KYC after the Account Plan has been approved.
Added latest Account Plan on KYC
Updates Account&apos;s Has Approved Account Plan field to true</description>
    <environments>Default</environments>
    <interviewLabel>Account Plan: Send data to related KYC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Plan: Send data to related KYC and Update Related Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Party_Profile</name>
        <label>Get Party Profile</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Party_Profile_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartyProfile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Party_Profile</name>
        <label>Update Party Profile</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Related_Account</targetReference>
        </connector>
        <inputReference>Get_Party_Profile</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Account</name>
        <label>Update Related Account</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Has_Approved_Account_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Has_Approved_Account_Plan__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Party_Profile</targetReference>
        </connector>
        <filterFormula>TEXT({!$Record__Prior.Approval_Status__c}) &lt;&gt; TEXT({!$Record.Approval_Status__c}) &amp;&amp; ISPICKVAL({!$Record.Approval_Status__c},&apos;Approved&apos;)</filterFormula>
        <object>Account_Plan__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
</Flow>
