code/force-app/main/default/flows/Account_Plan_Generate_Follow_up_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_New_Task_Values</name>
        <label>Assign New Task Values</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>tmpTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iteration_Over_Result_Items.Account_Plan__r.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iteration_Over_Result_Items.Estimated_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iteration_Over_Result_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>[追蹤建議產品] {!Iteration_Over_Result_Items.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpTask.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tasksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tmpTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iteration_Over_Result_Items</targetReference>
        </connector>
    </assignments>
    <description>Generates Tasks for the Manager to follow up recommended products from the Account Plan survey.</description>
    <environments>Default</environments>
    <interviewLabel>Account Plan: Generate Follow-up Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Plan: Generate Follow-up Tasks</label>
    <loops>
        <name>Iteration_Over_Result_Items</name>
        <label>Iteration Over Result Items</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Related_Result_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Task_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Follow_up_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Follow_up_Tasks</name>
        <label>Create Follow-up Tasks</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputReference>tasksToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Result_Items</name>
        <label>Get Related Result Items</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iteration_Over_Result_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Follow_Up_Suggested__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Estimated_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Survey_Result_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Result_Items</targetReference>
        </connector>
        <filterFormula>TEXT({!$Record__Prior.Approval_Status__c}) &lt;&gt; TEXT({!$Record.Approval_Status__c}) &amp;&amp; ISPICKVAL({!$Record.Approval_Status__c},&apos;Approved&apos;)</filterFormula>
        <object>Account_Plan__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>tasksToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>tmpTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
