code/force-app/main/default/flows/Account_Create_KYC_when_Account_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_Account_Data_Source_Country</name>
        <label>Check Account Data Source Country</label>
        <locationX>506</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Overseas_KYC_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_TW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Data_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Domestic_KYC_Record_Type</targetReference>
            </connector>
            <label>Is TW</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Person_Account_Domestic</name>
        <label>Check Person Account Domestic</label>
        <locationX>242</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Create_Domestic_KYC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Person_Account_Domestic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Domestic_KYC_PA</targetReference>
            </connector>
            <label>Is Person Account Domestic</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Person_Account_Overseas</name>
        <label>Check Person Account Overseas</label>
        <locationX>770</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Create_Overseas_KYC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Person_Account_Overseas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Overseas_KYC_PA</targetReference>
            </connector>
            <label>Is Person Account Overseas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Data_Source_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group</stringValue>
                </rightValue>
            </conditions>
            <label>Is Group</label>
        </rules>
    </decisions>
    <description>當帳戶建立時，系統依據客戶資料國別自動建立國內或海外的KYC主檔</description>
    <environments>Default</environments>
    <interviewLabel>Account : Create KYC when Account Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Create KYC when Account Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Domestic_KYC</name>
        <label>Create Domestic KYC</label>
        <locationX>374</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Name_KYC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Domestic_KYC_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PartyProfile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Domestic_KYC_PA</name>
        <label>Create Domestic KYC-PA</label>
        <locationX>110</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Person_Account_Name_KYC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Domestic_KYC_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PartyProfile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Overseas_KYC</name>
        <label>Create Overseas KYC</label>
        <locationX>902</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Name_KYC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Overseas_KYC_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PartyProfile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Overseas_KYC_PA</name>
        <label>Create Overseas KYC-PA</label>
        <locationX>638</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Person_Account_Name_KYC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Overseas_KYC_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PartyProfile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Domestic_KYC_Record_Type</name>
        <label>Get Domestic KYC Record Type</label>
        <locationX>242</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Person_Account_Domestic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate_KYC_Domestic</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Overseas_KYC_Record_Type</name>
        <label>Get Overseas KYC Record Type</label>
        <locationX>770</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Person_Account_Overseas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate_KYC_Overseas</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Account_Name_KYC</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>KYC-{!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>Person_Account_Name_KYC</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>KYC-{!$Record.FirstName}{!$Record.LastName}</text>
    </textTemplates>
    <variables>
        <name>New_Account_KYC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.Check_KYC__c</elementReference>
        </value>
    </variables>
</Flow>
