code/force-app/main/default/flows/Account_Update_AccountOwner_When_RM_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Managed_RM_Blank</name>
        <label>Managed RM Blank</label>
        <locationX>974</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Update_ResRM_to_ManagedRM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Managed_RM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Dummy_User</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_to</name>
        <label>Update to?</label>
        <locationX>974</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Responsible_RM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Owner_to_Managed_RM</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Responsible_RM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Managed_RM_Blank</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_to_2</name>
        <label>Update to?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Update_ResponsibleRM_and_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Managed_RM__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Dummy_User</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_RM_Field_Changed</name>
        <label>Which RM Field Changed?</label>
        <locationX>908</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Managed_RM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Managed_RM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Managed_RM__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_2</targetReference>
            </connector>
            <label>Managed RM</label>
        </rules>
        <rules>
            <name>Responsible_RM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Responsible_RM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Responsible_RM__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to</targetReference>
            </connector>
            <label>Responsible RM</label>
        </rules>
    </decisions>
    <description>修改邏輯：當經管RM更新後為空，將開發中RM為空且 Account Owner為Dummy user
Account 上三個 owner，若有經管 RM，則以此為主，若無經管 RM 但有開發中 RM，則以開發中 RM 為主</description>
    <environments>Default</environments>
    <interviewLabel>Account: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Update AccountOwner When RM Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Dummy_User</name>
        <label>Get Dummy User</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Owner_and_ResRM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dummy_User</name>
        <label>Get Dummy User</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Owner_to_Dummy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Owner_and_ResRM</name>
        <label>Update Account Owner and ResRM</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_1_of_Get_Dummy_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsible_RM__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Owner_to_Dummy</name>
        <label>Update Account Owner to Dummy</label>
        <locationX>842</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Dummy_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Owner_to_Managed_RM</name>
        <label>Update Account Owner to Managed RM</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Responsible_RM__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ResponsibleRM_and_Account_Owner</name>
        <label>Update ResponsibleRM and Account Owner</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Managed_RM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsible_RM__c</field>
            <value>
                <elementReference>$Record.Managed_RM__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ResRM_to_ManagedRM</name>
        <label>Update ResRM to ManagedRM</label>
        <locationX>1106</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Responsible_RM__c</field>
            <value>
                <elementReference>$Record.Managed_RM__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_RM_Field_Changed</targetReference>
        </connector>
        <filterFormula>{!$Record.Managed_RM__c} &lt;&gt; {!$Record__Prior.Managed_RM__c} || {!$Record.Responsible_RM__c} &lt;&gt; {!$Record__Prior.Responsible_RM__c}</filterFormula>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
</Flow>
