code/force-app/main/default/flows/Account_Update_Management_Status_When_RM_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>ManagementRM_Status</name>
        <label>ManagementRM Status</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Prior_ResRM_Personnel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Managed_RM__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResRM_Status</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResRM_Status</name>
        <label>ResRM Status</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_ManagementStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ResRMEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Responsible_RM__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NonManagementStatus</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <description>新增邏輯：當開發狀態=已經管時，清空/更新預佔相關欄位</description>
    <environments>Default</environments>
    <formulas>
        <name>OccupyNum</name>
        <dataType>Number</dataType>
        <expression>{!Get_Prior_ResRM_Personnel.Reserved_Amount__c}-1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Account: Update Management Status When RM Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Update Management Status When RM Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Prior_ResRM_Personnel</name>
        <label>Get Prior ResRM Personnel</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Personnel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Prior_PreOccupy_RM__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Personnel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ManagementStatus</name>
        <label>Update ManagementStatus</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Management_Status__c</field>
            <value>
                <stringValue>開發中</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ManageStatus</name>
        <label>Update ManageStatus</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Management_Status__c</field>
            <value>
                <stringValue>已經管</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreOccupy_End_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PreOccupy_Start_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_PreOccupy_RM__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Release__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NonManagementStatus</name>
        <label>Update NonManagementStatus</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Management_Status__c</field>
            <value>
                <stringValue>無經管</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Personnel</name>
        <label>Update Personnel</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_ManageStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Prior_ResRM_Personnel.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reserved_Amount__c</field>
            <value>
                <elementReference>OccupyNum</elementReference>
            </value>
        </inputAssignments>
        <object>Personnel__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ManagementRM_Status</targetReference>
        </connector>
        <filterFormula>({!$Record.Responsible_RM__c} &lt;&gt; {!$Record__Prior.Responsible_RM__c}) || 
({!$Record.Managed_RM__c} &lt;&gt; {!$Record__Prior.Managed_RM__c})</filterFormula>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1600</triggerOrder>
</Flow>
