code/force-app/main/default/flows/Account_Lead_Development_Notes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Lead_Status_Change</name>
        <label>Copy 1 of Lead Status Change</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TempLead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Lead.Previous_Lead_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLeadList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_Status_Change</name>
        <label>Lead Status Change</label>
        <locationX>442</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TempLead.Previous_Lead_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Lead.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>G0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLeadList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Old_Value_Not_Null</name>
        <label>Is Old Value Not Null?</label>
        <locationX>310</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Old_Value_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Responsible_RM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Responsible_RM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Loop_Lead</targetReference>
            </connector>
            <label>Old Value Is Not Null</label>
        </rules>
        <rules>
            <name>Old_Value_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Responsible_RM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Responsible_RM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Lead</targetReference>
            </connector>
            <label>Old Value Is Null</label>
        </rules>
    </decisions>
    <description>移除 Trigger 條件的 開發中RM isChange</description>
    <environments>Default</environments>
    <interviewLabel>Account : Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account : Lead Development Notes</label>
    <loops>
        <name>Copy_1_of_Loop_Lead</name>
        <label>Copy 1 of Loop Lead</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Lead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Lead_Status_Change</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lead_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Lead</name>
        <label>Loop Lead</label>
        <locationX>354</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Lead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lead_Status_Change</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lead_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>310</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Old_Value_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>H0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Status</name>
        <label>Update Lead Status</label>
        <locationX>310</locationX>
        <locationY>923</locationY>
        <inputReference>TempLeadList</inputReference>
    </recordUpdates>
    <start>
        <locationX>184</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Data_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TW</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TempLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>TempLeadList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
