code/force-app/main/default/flows/Account_Occupy_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Continuous_Occupy</name>
        <label>Continuous Occupy</label>
        <locationX>611</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>InvalidContinuousText</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recordId.Prior_PreOccupy_RM__r.LastName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CurrentUser_Personnel</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Country</name>
        <label>Country</label>
        <locationX>858</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>InvalidCountryText</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Equals_to_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Belong_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId.Customer_Data_Country__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Continuous_Occupy</targetReference>
            </connector>
            <label>Equals to Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_User_Role</name>
        <label>Current User Role</label>
        <locationX>1114</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>NotRMText</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Country</targetReference>
            </connector>
            <label>RM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quota</name>
        <label>Quota</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>NoQuotaText</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enough</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CurrentUser_Personnel.Account_Remain_Quota__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResponsibleRM</targetReference>
            </connector>
            <label>Enough</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResponsibleRM</name>
        <label>ResponsibleRM</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>CannotOccupy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Responsible_RM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OccupyAccount</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <description>Just Test</description>
    <environments>Default</environments>
    <interviewLabel>Account: Occupy Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Occupy Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_CurrentUser_Personnel</name>
        <label>Get CurrentUser Personnel</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quota</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Personnel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ResponsibleRM</name>
        <label>Update ResponsibleRM</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>OccupySuccess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Responsible_RM__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CannotOccupy</name>
        <label>CannotOccupy</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Cannot_Occupy</name>
            <fieldText>&lt;p&gt;無法進行預佔&lt;/p&gt;&lt;p&gt;原因：該客戶已經被預佔&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InvalidContinuousText</name>
        <label>InvalidContinuousText</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InvalidContinuous_Text</name>
            <fieldText>&lt;p&gt;無法進行預佔&lt;/p&gt;&lt;p&gt;原因：您無法連續預佔同一客戶&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InvalidCountryText</name>
        <label>InvalidCountryText</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InvalidCountry_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;無法進行預佔&lt;/span&gt;&lt;/p&gt;&lt;p&gt;原因：您的隸屬國別與客戶資料國別不符&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoQuotaText</name>
        <label>NoQuotaText</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoQuota_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;無法進行預佔&lt;/span&gt;&lt;/p&gt;&lt;p&gt;原因：您的預佔名額已達上限&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NotRMText</name>
        <label>NotRMText</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotRM_Text</name>
            <fieldText>&lt;p&gt;無法進行預佔&lt;/p&gt;&lt;p&gt;原因：您的角色並不屬於RM&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OccupyAccount</name>
        <label>OccupyAccount</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_ResponsibleRM</targetReference>
        </connector>
        <fields>
            <name>OccupyAccountText</name>
            <fieldText>&lt;p&gt;若確定預佔此客戶請點選下一步&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OccupySuccess</name>
        <label>OccupySuccess</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Cannot_Occupy</name>
            <fieldText>&lt;p&gt;預佔成功！&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>988</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Current_User_Role</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
