code/force-app/main/default/flows/Campaign_Distribute_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Create_Lead</name>
        <label>Apex Create Lead</label>
        <locationX>1669</locationX>
        <locationY>2174</locationY>
        <actionName>CreateLead</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Error_Lead_Null</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>leads</name>
            <value>
                <elementReference>LeadList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateLead</nameSegment>
        <outputParameters>
            <assignToReference>ErrorLead</assignToReference>
            <name>errorLead</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>FailureCount</assignToReference>
            <name>failureCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SuccessCount</assignToReference>
            <name>successCount</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Error_Staging_Lead_List</name>
        <label>Add Error Staging Lead List</label>
        <locationX>1625</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>TempStagingLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Lead_Loop.Staging_Lead_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempStagingLead.Invalid_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>派發失敗</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempStagingLead.Lead_Invalid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StagingLeadList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempStagingLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempStagingLead</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Error_Lead_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Lead_To_Person_Lead_List</name>
        <label>Add Lead To Person Lead List</label>
        <locationX>1018</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>TempLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Company__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Domestic.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Person_In_Charge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Person_In_Charge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Assigned_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Assigned_Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Dist_User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Customer_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Customer_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.PI_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.PI_Specialist__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Establish_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Establish_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Total_Capital_Amt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Total_Capital_Amt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Total_Export_Value_Lastyear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Total_Export_Value_LY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Total_Import_Value_Lastyear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Total_Import_Value_LY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Competitor_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Competitor_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Competitor_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Competitor_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Related_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Related_Campaign__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Rel_Customer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Rel_Customer_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Rel_Desc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Rel_Desc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Account_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Same_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Same_Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Note1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Note1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Note2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Note2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Note3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Note3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Note4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Note4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Note5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Note5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Deposit_Avg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Deposit_Avg__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Deposit_Foreign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Deposit_Foreign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Deposit_NTD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Deposit_NTD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Credit_Card_VIP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Credit_Card_VIP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Customer_Mask_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Customer_Mask_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Dp_M_Branch_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Dp_M_Branch_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Suggest_Disp_Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Suggest_Disp_Branch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Luxury_Residence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Luxury_Residence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.High_Tax_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.High_Tax_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Trade_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Trade_Potential__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Investment_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Investment_Potential__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Hedging_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Hedging_Potential__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Key_Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Key_Industry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Bond_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Bond_Potential__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Salary_Transfer_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Salary_Transfer_Potential__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Risk_Concern__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Risk_Concern__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Bsn_Cbsm_P__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Bsn_Cbsm_P__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Fm_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Fm_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Dp_M_Bsn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Dp_M_Bsn__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Fm_Branch_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Fm_Branch_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Fm_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Fm_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Fm_Emp_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Fm_Emp_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Manager_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Manager_Division__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Data_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Data_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Tier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Nearest_Branch_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Nearest_Branch_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Nearest_Bsn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Nearest_Bsn__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Potential_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Potential_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Referral_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Referral_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Good_Physique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Good_Physique__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Distribute_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Distribute_Division__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Distribute_Team_Cbsm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Distribute_Team_Cbsm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Business_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Customer_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Staging_Lead_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToPerson_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>ToPerson_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Lead_To_Queue_Lead_List</name>
        <label>Add Lead To Queue Lead List</label>
        <locationX>754</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>TempLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Company__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Domestic.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Person_In_Charge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Person_In_Charge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Assigned_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Assigned_Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Customer_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Customer_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.PI_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.PI_Specialist__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Establish_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Establish_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Total_Capital_Amt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Total_Capital_Amt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Total_Export_Value_Lastyear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Total_Export_Value_LY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Total_Import_Value_Lastyear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Total_Import_Value_LY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Competitor_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Competitor_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Competitor_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Competitor_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Related_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Related_Campaign__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Rel_Customer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Rel_Customer_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Rel_Desc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Rel_Desc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Account_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Same_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Same_Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Note1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Note1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Note2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Note2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Note3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Note3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Note4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Note4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Note5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Note5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Deposit_Avg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Deposit_Avg__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Deposit_Foreign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Deposit_Foreign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Deposit_NTD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Deposit_NTD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Credit_Card_VIP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Credit_Card_VIP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Customer_Mask_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Customer_Mask_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Dp_M_Branch_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Dp_M_Branch_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Suggest_Disp_Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Suggest_Disp_Branch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Luxury_Residence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Luxury_Residence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.High_Tax_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.High_Tax_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Trade_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Trade_Potential__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Investment_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Investment_Potential__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Hedging_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Hedging_Potential__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Key_Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Key_Industry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Bond_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Bond_Potential__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Salary_Transfer_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Salary_Transfer_Potential__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Risk_Concern__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Risk_Concern__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Bsn_Cbsm_P__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Bsn_Cbsm_P__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Fm_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Fm_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Dp_M_Bsn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Dp_M_Bsn__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Fm_Branch_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Fm_Branch_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Fm_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Fm_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Fm_Emp_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Fm_Emp_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Manager_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Manager_Division__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Data_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Data_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Tier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Nearest_Branch_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Nearest_Branch_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Nearest_Bsn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Nearest_Bsn__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Potential_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Potential_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Referral_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Referral_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Good_Physique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Good_Physique__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Distribute_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Distribute_Division__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Distribute_Team_Cbsm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Distribute_Team_Cbsm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Business_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Customer_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Staging_Lead_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToQueue_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempQueue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>ToQueue_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Lead_To_VN_Lead_List</name>
        <label>Add Lead To VN Lead List</label>
        <locationX>2378</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>TempLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oversea_Staging_Lead_Loop.Company__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oversea_Staging_Lead_Loop.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Oversea.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Person_In_Charge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oversea_Staging_Lead_Loop.Person_In_Charge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Tax_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oversea_Staging_Lead_Loop.Tax_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Registration_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oversea_Staging_Lead_Loop.Registration_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Target_Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oversea_Staging_Lead_Loop.Target_Industry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Sub_Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oversea_Staging_Lead_Loop.Sub_Industry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Distribution_Remark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oversea_Staging_Lead_Loop.Distribution_Remark__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Assigned_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oversea_Staging_Lead_Loop.Assigned_Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Staging_Lead_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oversea_Staging_Lead_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.Related_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oversea_Staging_Lead_Loop.Related_Campaign__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempQueue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLead</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Oversea_Staging_Lead_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Queue_to_TempQueue</name>
        <label>Add Queue to TempQueue</label>
        <locationX>842</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>TempQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Queue_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Queue_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Campaign_Status_Change</name>
        <label>Campaign Status Change</label>
        <locationX>1669</locationX>
        <locationY>3098</locationY>
        <assignmentItems>
            <assignToReference>Get_Campagin.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Distributed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>For_Update_Campaign_Status_Change</name>
        <label>For Update Campaign Status Change</label>
        <locationX>1537</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>Get_Campagin.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Distributed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Update_Campaign_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Oversea_TempQueue_Name</name>
        <label>Get Oversea TempQueue Name</label>
        <locationX>2466</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>TempQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oversea_Queue_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oversea_Queue_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Queue_Name</name>
        <label>Get Queue Name</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>TempQueueName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempQueueName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempQueueName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ToQueue_Loop.Distribute_Division__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_TempQueue_Name</name>
        <label>Get TempQueue Name</label>
        <locationX>2378</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>TempQueueName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempQueueName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Campagin.Distribute_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempQueueName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssTeamFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempQueue</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Oversea_Queue</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Oversea_Queue</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Oversea Queue</label>
        <locationX>2378</locationX>
        <locationY>1106</locationY>
        <assignNextValueToReference>currentItem_Filter_Oversea_Queue</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Oversea_Queue</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Oversea_Queue_Loop</targetReference>
        </connector>
        <formula>{!currentItem_Filter_Oversea_Queue.DeveloperName} = {!TempQueueName}</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Queue</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Queue</label>
        <locationX>754</locationX>
        <locationY>1322</locationY>
        <assignNextValueToReference>currentItem_Filter_Queue</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_This_Queue</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Queue_Loop</targetReference>
        </connector>
        <formula>{!currentItem_Filter_Queue.DeveloperName}= {!TempQueueName}</formula>
    </collectionProcessors>
    <decisions>
        <name>Confirm_Campagin_Status</name>
        <label>Confirm Campagin Status</label>
        <locationX>1136</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Cancel_Distribution</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campagin.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_Domestic</targetReference>
            </connector>
            <label>Status is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Corfirm_Lead_Distrib_Logic</name>
        <label>Corfirm Lead Distrib Logic</label>
        <locationX>862</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Lead_Distrib_Logic_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ToQueue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campagin.Lead_Distrib_Logic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ToQueue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_This_Queue</targetReference>
            </connector>
            <label>ToQueue</label>
        </rules>
        <rules>
            <name>ToPerson</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Lead_Distrib_Logic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ToPerson</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ToPerson_Loop</targetReference>
            </connector>
            <label>ToPerson</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Error_Lead_Null</name>
        <label>Is Error Lead Null?</label>
        <locationX>1669</locationX>
        <locationY>2282</locationY>
        <defaultConnector>
            <targetReference>Campaign_Status_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error_Lead_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Update_Campaign_Status_Change</targetReference>
            </connector>
            <label>Error Lead Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Staging_Lead_Null</name>
        <label>Is Staging Lead Null?</label>
        <locationX>859</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>TW_Or_VN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Staging_Lead_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Staging_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Staging_Lead_Null_Alert</targetReference>
            </connector>
            <label>Staging Lead Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>TW_Or_VN</name>
        <label>TW Or VN</label>
        <locationX>1669</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type_Oversea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_TW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campagin.Distribute_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Campagin_Status</targetReference>
            </connector>
            <label>Is TW</label>
        </rules>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campagin.Distribute_Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Distribute_Country_Is_Null</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <description>將名單進行派發</description>
    <environments>Default</environments>
    <formulas>
        <name>AssTeamFormula</name>
        <dataType>String</dataType>
        <expression>IF(
FIND(&apos; &apos;, TEXT({!Oversea_Staging_Lead_Loop.Assigned_Team__c})) == 0,
&apos;&apos;,
 &apos;_&apos; + LEFT(TEXT({!Oversea_Staging_Lead_Loop.Assigned_Team__c}), FIND(&apos; &apos;, TEXT({!Oversea_Staging_Lead_Loop.Assigned_Team__c})) - 1) )</expression>
    </formulas>
    <interviewLabel>Campaign : Distribute Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign : Distribute Lead</label>
    <loops>
        <name>Error_Lead_Loop</name>
        <label>Error Lead Loop</label>
        <locationX>1537</locationX>
        <locationY>2606</locationY>
        <collectionReference>ErrorLead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Error_Staging_Lead_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Error_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Filter_Queue_Loop</name>
        <label>Filter Queue Loop</label>
        <locationX>754</locationX>
        <locationY>1430</locationY>
        <collectionReference>Filter_Queue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Queue_to_TempQueue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Lead_To_Queue_Lead_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Oversea_Queue_Loop</name>
        <label>Oversea Queue Loop</label>
        <locationX>2378</locationX>
        <locationY>1214</locationY>
        <collectionReference>Filter_Oversea_Queue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Oversea_TempQueue_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Lead_To_VN_Lead_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Oversea_Staging_Lead_Loop</name>
        <label>Oversea Staging Lead Loop</label>
        <locationX>2202</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_Staging_Lead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_TempQueue_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Apex_Create_Lead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ToPerson_Loop</name>
        <label>ToPerson Loop</label>
        <locationX>930</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_Staging_Lead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Lead_To_Person_Lead_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Apex_Create_Lead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ToQueue_Loop</name>
        <label>ToQueue Loop</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <collectionReference>Get_Staging_Lead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Queue_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Apex_Create_Lead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Campagin</name>
        <label>Get Campagin</label>
        <locationX>859</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Oversea_Queue</name>
        <label>Get Oversea Queue</label>
        <locationX>2202</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Oversea_Staging_Lead_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Domestic</name>
        <label>Get Record Type Domestic</label>
        <locationX>862</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Corfirm_Lead_Distrib_Logic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CUB_Domestic_Campaign</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Oversea</name>
        <label>Get Record Type Oversea</label>
        <locationX>2202</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Oversea_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CUB_Oversea_Campaign</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Staging_Lead</name>
        <label>Get Staging Lead</label>
        <locationX>859</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Staging_Lead_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead_Invalid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Related_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Staging_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_This_Queue</name>
        <label>Get This Queue</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ToQueue_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>For_Update_Campaign_Status</name>
        <label>For Update Campaign Status</label>
        <locationX>1537</locationX>
        <locationY>2498</locationY>
        <connector>
            <targetReference>Error_Lead_Loop</targetReference>
        </connector>
        <inputReference>Get_Campagin</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_Status</name>
        <label>Update Campaign Status</label>
        <locationX>1669</locationX>
        <locationY>3206</locationY>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <inputReference>Get_Campagin</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Error_Status</name>
        <label>Update Error Status</label>
        <locationX>1537</locationX>
        <locationY>2906</locationY>
        <connector>
            <targetReference>Campaign_Status_Change</targetReference>
        </connector>
        <inputReference>StagingLeadList</inputReference>
    </recordUpdates>
    <screens>
        <name>Cancel_Distribution</name>
        <label>Cancel Distribution</label>
        <locationX>1410</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Cancel_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;「當行銷活動狀態為「&lt;/span&gt;&lt;span style=&quot;color: rgb(247, 4, 4); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;已審核&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;」時，才可進行派發&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Screen</name>
        <label>Confirm Screen</label>
        <locationX>859</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Staging_Lead</targetReference>
        </connector>
        <fields>
            <name>Confirm_Distribute</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 16px;&quot;&gt;是否確定派發?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>確定</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Distribute_Country_Is_Null</name>
        <label>Distribute Country Is Null</label>
        <locationX>1674</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Distribute_Country_Null</name>
            <fieldText>&lt;p&gt;請先填寫「行銷活動派發國家」&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>1669</locationX>
        <locationY>3314</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finsish_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Campagin.Name} 派發已完成&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;派發成功 : {!SuccessCount} 筆&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;派發失敗 : {!FailureCount} 筆&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;說明：可至「名單上傳」列表中查看派發失敗之資料，此類資料將列為「名單失效」，且失效原因為「派發失敗」&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Distrib_Logic_Null</name>
        <label>Lead Distrib Logic Null</label>
        <locationX>1146</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Lead_Distrib_Logic_IsNull</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;名單排發邏輯為空&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Staging_Lead_Null_Alert</name>
        <label>Staging Lead Null Alert</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Staging_Lead_Null_Alert_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;此行銷名單 {!recordId.Name} 中，沒有任何的 名單&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>733</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Campagin</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Oversea_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>ErrorLead</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>FailureCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LeadList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>StagingLeadList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Staging_Lead__c</objectType>
    </variables>
    <variables>
        <name>SuccessCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TempLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>TempQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>TempQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TempStagingLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Staging_Lead__c</objectType>
    </variables>
</Flow>
