code/force-app/main/default/flows/Lead_Update_Lead_Owner_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Owned_By_User</name>
        <label>Owned By User?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Owned_By_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Is Owned By User</label>
        </rules>
    </decisions>
    <description>1. 在lead建立，或是owner change時，押上這筆資料的所屬單位
2. 沒有Entry criteria
3. 新增押上「商機隸屬國家」
4. 新增押上「轉介單位」
5. 調整成fast field updates</description>
    <environments>Default</environments>
    <interviewLabel>Lead: Update Lead Owner Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Update Lead Owner Team</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Customer_Data_Country__c</field>
            <value>
                <elementReference>$Record.Owner:User.Belong_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Team__c</field>
            <value>
                <elementReference>$Record.Owner:User.Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer_Unit__c</field>
            <value>
                <elementReference>$Record.Referrer_Name__r.Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Owned_By_User</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
