code/force-app/main/default/flows/Lead_Cant_Convert_When_Account_Has_Responsible_RM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <customErrors>
        <name>Lead_Should_Not_Convert</name>
        <label>Lead Should Not Convert</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Account_Loop</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>{!Error_Message}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>If_Account_Has_Responsible_Rm</name>
        <label>If Account Has Responsible Rm</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Account_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Has_Responsible_RM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConvertedAccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account_Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Should_Not_Convert</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Account Has Responsible RM</label>
        </rules>
    </decisions>
    <description>1. 當account有「開發中RM」，且這個人不是lead owner自己時，不可轉換此商機</description>
    <environments>Default</environments>
    <interviewLabel>Lead: Cant Convert When Account Has Responsible RM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Cant Convert When Account Has Responsible RM</label>
    <loops>
        <name>Account_Loop</name>
        <label>Account Loop</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Account_with_Responsible_RM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Account_Has_Responsible_Rm</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_with_Responsible_RM</name>
        <label>Get Account with Responsible RM</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Responsible_RM__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Responsible_RM__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_with_Responsible_RM</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Error_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;此客戶在「帳戶」中已有其他人在進行開發，若需轉換則請先與其協調是否需進行釋出作業&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Get_Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Account_Loop.Id</elementReference>
        </value>
    </variables>
</Flow>
