code/force-app/main/default/flows/Lead_Fill_in_Fields_for_Converted_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Fill_in_Business_Address</name>
        <label>Fill in Business Address</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>Get_Converted_Account.Business_Address_Primary__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Converted_Account.Business_Address_Primary__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Converted_Account.Business_Address_Primary__GeocodeAccuracy__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Address__GeocodeAccuracy__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Converted_Account.Business_Address_Primary__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Address__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Converted_Account.Business_Address_Primary__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Address__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Converted_Account.Business_Address_Primary__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Converted_Account.Business_Address_Primary__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Converted_Account.Business_Address_Primary__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Has_No_Permanent_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_in_Permanent_Address</name>
        <label>Fill in Permanent Address</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>Get_Converted_Account.Permanent_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Permanent_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Converted_Account.Permanent_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Permanent_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Converted_Account.Permanent_Address__GeocodeAccuracy__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Permanent_Address__GeocodeAccuracy__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Converted_Account.Permanent_Address__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Permanent_Address__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Converted_Account.Permanent_Address__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Permanent_Address__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Converted_Account.Permanent_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Permanent_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Converted_Account.Permanent_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Permanent_Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Converted_Account.Permanent_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Permanent_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Converted_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_in_Referral_Case_No</name>
        <label>Fill in Referral Case No</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Get_Converted_Account.Salesforce_Referral_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Referral_Case_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Converted_Account.Branch_Referral_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Branch_Referral_No__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Has_No_Responsible_RM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_in_Responsible_RM</name>
        <label>Fill in Responsible RM</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Converted_Account.Responsible_RM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Has_No_Business_Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Has_No_Business_Address</name>
        <label>Account Has No Business Address</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Account_Has_No_Permanent_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Business_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Converted_Account.Business_Address_Primary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_in_Business_Address</targetReference>
            </connector>
            <label>No Business Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Has_No_Permanent_Address</name>
        <label>Account Has No Permanent Address</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Update_Converted_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Permanent_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Converted_Account.Permanent_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_in_Permanent_Address</targetReference>
            </connector>
            <label>No Permanent Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Has_No_Responsible_RM</name>
        <label>Account Has No Responsible RM</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Account_Has_No_Business_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Res_RM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Converted_Account.Responsible_RM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_in_Responsible_RM</targetReference>
            </connector>
            <label>No Res RM</label>
        </rules>
    </decisions>
    <description>1. lead convert時，將lead上部分欄位帶至converted account上（部分欄位將透過原生的lead convert mapping功能來填寫）
4. 調整地址欄位mapping</description>
    <environments>Default</environments>
    <interviewLabel>Lead: Fill in Fields for Converted Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Fill in Fields for Converted Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Converted_Account</name>
        <label>Get Converted Account</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fill_in_Referral_Case_No</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Converted_Account</name>
        <label>Update Converted Account</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <inputReference>Get_Converted_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Converted_Account</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
