code/force-app/main/default/flows/Lead_Alert_for_Dup_Leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_New_Value</name>
        <label>Assign New Value</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>tmpLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dup_Leads</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpLead.Duplicate_Lead_Exists__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DupLeadsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tmpLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dup_Leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Domestic_Dup_Leads</name>
        <label>Store Domestic Dup Leads</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>DupLeads</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Oversea_Dup_Leads</name>
        <label>Store Oversea Dup Leads</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>DupLeads</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Domestic_or_Oversea</name>
        <label>Domestic or Oversea</label>
        <locationX>226</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Oversea_Dup_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Domestic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Data_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Domestic_Dup_Lead</targetReference>
            </connector>
            <label>Domestic</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Dup_Leads</name>
        <label>Has Dup Leads</label>
        <locationX>226</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DupLeads</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Triggered_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>查重欄位不可為空</description>
    <environments>Default</environments>
    <interviewLabel>Lead: Alert for Dup Leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Alert for Dup Leads</label>
    <loops>
        <name>Dup_Leads</name>
        <label>Dup Leads</label>
        <locationX>94</locationX>
        <locationY>1139</locationY>
        <collectionReference>DupLeads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Dup_Leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Domestic_Dup_Lead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Domestic_Dup_Leads</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Dup_Leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_2</name>
        <label>Loop 2</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Oversea_Dup_Lead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Oversea_Dup_Leads</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Dup_Leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Domestic_Dup_Lead</name>
        <label>Get Domestic Dup Lead</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Oversea_Dup_Lead</name>
        <label>Get Oversea Dup Lead</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Data_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Data_Country__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Dup_Leads</name>
        <label>Update Dup Leads</label>
        <locationX>94</locationX>
        <locationY>1439</locationY>
        <inputReference>DupLeadsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggered_Lead</name>
        <label>Update Triggered Lead</label>
        <locationX>94</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Dup_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Duplicate_Lead_Exists__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Domestic_or_Oversea</targetReference>
        </connector>
        <filterFormula>AND(NOT(ISPICKVAL({!$Record.Status}, &apos;H0&apos;)), 
OR(ISNEW(), ISCHANGED({!$Record.Customer_Id__c}), ISCHANGED({!$Record.Company})))</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DupLeads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>DupLeadsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>tmpLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
