code/force-app/main/default/flows/Product_PriceBookEntryGeneration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>New_PricebookEntry_Values</name>
        <label>New PricebookEntry Values</label>
        <locationX>528</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>TmpPriceBookEntry.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standard_Pricebook_Loop.IsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TmpPriceBookEntry.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TmpPriceBookEntry.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TmpPriceBookEntry.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TmpPriceBookEntry.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TmpPriceBookEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Standard_Pricebook_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Oversea_PricebookEntry_Values</name>
        <label>Oversea PricebookEntry Values</label>
        <locationX>704</locationX>
        <locationY>1632</locationY>
        <assignmentItems>
            <assignToReference>TmpPriceBookEntry.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Overseas_Pricebook_Loop.IsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TmpPriceBookEntry.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TmpPriceBookEntry.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TmpPriceBookEntry.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TmpPriceBookEntry.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverseasPricebookEntryToInset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TmpPriceBookEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Overseas_Pricebook_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Overseas_Pricebook</name>
        <label>Overseas Pricebook</label>
        <locationX>616</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>PricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Overseas_Pricebook_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Overseas_Pricebook_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StandardPricebook</name>
        <label>StandardPricebook</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>PricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_StandardPriceBook.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Currency</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Product_Currency</name>
        <label>Product Currency</label>
        <locationX>440</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>ProductRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TWD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TWD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductRecordType</targetReference>
            </connector>
            <label>TWD</label>
        </rules>
        <rules>
            <name>USD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Org_Multicurrency</targetReference>
            </connector>
            <label>USD</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProductRecordType</name>
        <label>ProductRecordType</label>
        <locationX>440</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>Get_Overseas_Pricebook_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Overseas</defaultConnectorLabel>
        <rules>
            <name>Domestic</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domestic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Policy_Oriented_Project</stringValue>
                </rightValue>
            </conditions>
            <label>Domestic</label>
        </rules>
    </decisions>
    <description>邏輯修改：海外使用Aysnc Path，修改Create變數，TWD取值 (測試版)
業務邏輯：新增產品時，根據產品紀錄類型建立對應的Pricebook Entry</description>
    <environments>Default</environments>
    <interviewLabel>Product: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product: PriceBookEntryGeneration</label>
    <loops>
        <name>Overseas_Pricebook_Loop</name>
        <label>Overseas Pricebook Loop</label>
        <locationX>616</locationX>
        <locationY>1524</locationY>
        <collectionReference>Get_Org_Multicurrency</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Oversea_PricebookEntry_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Oversea_Pricebook_Entry</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Standard_Pricebook_Loop</name>
        <label>Standard Pricebook Loop</label>
        <locationX>440</locationX>
        <locationY>708</locationY>
        <collectionReference>Get_Org_Multicurrency</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_PricebookEntry_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_StandardPriceBookEntry</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Oversea_Pricebook_Entry</name>
        <label>Create Oversea Pricebook Entry</label>
        <locationX>616</locationX>
        <locationY>1824</locationY>
        <inputReference>OverseasPricebookEntryToInset</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_StandardPriceBookEntry</name>
        <label>Create StandardPriceBookEntry</label>
        <locationX>440</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>ProductRecordType</targetReference>
        </connector>
        <inputReference>PricebookEntryToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Org_Multicurrency</name>
        <label>Get Org Multicurrency</label>
        <locationX>440</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Standard_Pricebook_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsoCode</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TWD</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CurrencyType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Overseas_Pricebook_Id</name>
        <label>Get Overseas Pricebook Id</label>
        <locationX>616</locationX>
        <locationY>1308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Overseas_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Overseas Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_StandardPriceBook</name>
        <label>Get StandardPriceBook</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StandardPricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Product2</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Async_Path</name>
            <connector>
                <targetReference>Get_StandardPriceBook</targetReference>
            </connector>
            <label>Async Path</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>OverseasPricebookEntryToInset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PricebookEntryToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TmpPriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
</Flow>
