code/force-app/main/default/flows/Staging_Lead_Duplicate_Exclusion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Is_Old_Staging_Lead_Repeat</name>
        <label>Is Old Staging Lead Repeat</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Repeat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirm_Staging_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_Staging_Lead</targetReference>
            </connector>
            <label>Repeat</label>
        </rules>
    </decisions>
    <description>新增 客戶ID 不可以為null</description>
    <environments>Default</environments>
    <interviewLabel>Staging Lead : {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Staging Lead : Duplicate Exclusion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Confirm_Staging_Lead</name>
        <label>Confirm Staging Lead</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Old_Staging_Lead_Repeat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead_Expired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Id__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Staging_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_Staging_Lead</name>
        <label>Update New Staging Lead</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Invalid_Reason__c</field>
            <value>
                <stringValue>重複排除</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Invalid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirm_Staging_Lead</targetReference>
        </connector>
        <filterFormula>ISPICKVAL({!$Record.Related_Campaign__r.Distribute_Country__c}, &apos;TW&apos;)</filterFormula>
        <object>Staging_Lead__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
