code/force-app/main/default/flows/Staging_Lead_Distribute_Staging_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>List_Reassignment</name>
        <label>List Reassignment</label>
        <locationX>710</locationX>
        <locationY>3770</locationY>
        <actionName>List_Reassignment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Result_Staging_Lead</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>campaignId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>maxCount</name>
            <value>
                <elementReference>MaxCountString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>range</name>
            <value>
                <elementReference>Rangevalue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resetRule</name>
            <value>
                <elementReference>ResetRuleVal</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ruleOrder</name>
            <value>
                <elementReference>OrderValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedRMId</name>
            <value>
                <elementReference>SelectedRMID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedRMPersonnelId</name>
            <value>
                <elementReference>SelectedRMPersonnelID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>List_Reassignment</nameSegment>
        <outputParameters>
            <assignToReference>ResultPersonnels</assignToReference>
            <name>personnels</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AddALLRule</name>
        <label>AddALLRule</label>
        <locationX>1106</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>ResetRuleVal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InResetRule1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResetRuleVal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InResetRule2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResetRuleVal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InResetRule3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResetRuleVal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InResetRule4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SeletedRange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddRange1</name>
        <label>AddRange1</label>
        <locationX>314</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>Rangevalue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UniqueRange1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddRange2</name>
        <label>AddRange2</label>
        <locationX>578</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>Rangevalue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UniqueRange1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rangevalue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UniqueRange2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddRange3</name>
        <label>AddRange3</label>
        <locationX>842</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>Rangevalue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UniqueRange1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rangevalue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UniqueRange2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rangevalue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UniqueRange3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddRange4</name>
        <label>AddRange4</label>
        <locationX>1106</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>Rangevalue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UniqueRange1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rangevalue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UniqueRange2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rangevalue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UniqueRange3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rangevalue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UniqueRange4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddResetRule1</name>
        <label>AddResetRule1</label>
        <locationX>314</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>ResetRuleVal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InResetRule1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SeletedRange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddResetRule2</name>
        <label>AddResetRule2</label>
        <locationX>578</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>ResetRuleVal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InResetRule1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResetRuleVal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InResetRule2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SeletedRange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddResetRule3</name>
        <label>AddResetRule3</label>
        <locationX>842</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>ResetRuleVal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InResetRule1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResetRuleVal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InResetRule2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResetRuleVal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InResetRule3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SeletedRange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Campaign_Status</name>
        <label>Change Campaign Status</label>
        <locationX>798</locationX>
        <locationY>3470</locationY>
        <assignmentItems>
            <assignToReference>TempStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Campaign.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Distributed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Filter_RM_ID</name>
        <label>Get Filter RM ID</label>
        <locationX>468</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>UserID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Filter_RM.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filter_RM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Reset_Count</name>
        <label>Get Reset Count</label>
        <locationX>710</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>MaxCountString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reset_Count_Limit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetRule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Selected_RM_Info</name>
        <label>Get Selected RM Info</label>
        <locationX>468</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>SelectedRMID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_RM.Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedRMPersonnelID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_RM.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_RM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rechange_Campaign_Status</name>
        <label>Rechange Campaign Status</label>
        <locationX>710</locationX>
        <locationY>4718</locationY>
        <assignmentItems>
            <assignToReference>Get_Campaign.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Update_List</name>
        <label>Reset Update List</label>
        <locationX>798</locationX>
        <locationY>4310</locationY>
        <assignmentItems>
            <assignToReference>TempPersonnel.Dispatch_Case__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Result_Filter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPersonnel.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Result_Personnels.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatePersonnels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempPersonnel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPersonnel</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Result_Personnels</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Update_Personnels</name>
        <label>Reset Update Personnels</label>
        <locationX>710</locationX>
        <locationY>3986</locationY>
        <assignmentItems>
            <assignToReference>UpdatePersonnels</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Result_Personnels</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Personnel_List</name>
        <label>Update Personnel List</label>
        <locationX>468</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>TempPersonnel.Dispatch_Case__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Current_User</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPersonnel.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Personnel.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatePersonnels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempPersonnel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPersonnel</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Personnel</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>OrderAsc</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;小到大&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ASC</stringValue>
        </value>
    </choices>
    <choices>
        <name>OrderDesc</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;大到小&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DESC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Range1</name>
        <choiceText>大地理區</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>派發大地理區</stringValue>
        </value>
    </choices>
    <choices>
        <name>Range2</name>
        <choiceText>區部</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>派發區部</stringValue>
        </value>
    </choices>
    <choices>
        <name>Range3</name>
        <choiceText>科別</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>派發科別</stringValue>
        </value>
    </choices>
    <choices>
        <name>Range4</name>
        <choiceText>建議派發分行</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>建議派發分行</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rule1</name>
        <choiceText>&lt;span style=&quot;font-size: 16px; font-family: WordVisi_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;近一年平均存款&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deposit_Avg__c</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rule2</name>
        <choiceText>&lt;span style=&quot;font-size: 16px; font-family: WordVisi_MSFontService, Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;層級&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tier__c</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rule3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;資本額&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Total_Capital_Amt__c</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rule4</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;特殊名單排序&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Special_List_Order__c</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Current_User</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Current User</label>
        <locationX>468</locationX>
        <locationY>1190</locationY>
        <assignNextValueToReference>currentItem_Filter_Current_User</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_RM_Lead_Count</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Current_User.Dist_User__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Personnel.Name__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Update_Personnel_List</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_RM</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter RM</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_Filter_RM</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_RM</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Loop_Filter_RM</targetReference>
        </connector>
        <formula>!CONTAINS({!currentItem_Filter_RM.UserRole.Name}, &apos;ARM&apos;) &amp;&amp; CONTAINS({!currentItem_Filter_RM.UserRole.Name}, &apos;RM&apos;)</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Result_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Result Filter</label>
        <locationX>798</locationX>
        <locationY>4202</locationY>
        <assignNextValueToReference>currentItem_Result_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Result_Staging_Lead</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Result_Filter.Dist_User__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Result_Personnels.Name__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Reset_Update_List</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Campaign_Status_Confirm</name>
        <label>Campaign Status Confirm</label>
        <locationX>710</locationX>
        <locationY>3362</locationY>
        <defaultConnector>
            <targetReference>Change_Campaign_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_equlas_Not_Distributed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Distributed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>List_Reassignment</targetReference>
            </connector>
            <label>Status equlas Not Distributed</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionRange</name>
        <label>DecisionRange</label>
        <locationX>710</locationX>
        <locationY>2954</locationY>
        <defaultConnector>
            <targetReference>AddRange4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Range2isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniqueRange2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddRange1</targetReference>
            </connector>
            <label>Range2isNull</label>
        </rules>
        <rules>
            <name>Range3isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniqueRange3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddRange2</targetReference>
            </connector>
            <label>Range3isNull</label>
        </rules>
        <rules>
            <name>Range4isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniqueRange4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddRange3</targetReference>
            </connector>
            <label>Range4isNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionResetRule</name>
        <label>DecisionResetRule</label>
        <locationX>710</locationX>
        <locationY>2546</locationY>
        <defaultConnector>
            <targetReference>AddALLRule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ResetRule2isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InResetRule2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddResetRule1</targetReference>
            </connector>
            <label>ResetRule2isNull</label>
        </rules>
        <rules>
            <name>ResetRule3isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InResetRule3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddResetRule2</targetReference>
            </connector>
            <label>ResetRule3isNull</label>
        </rules>
        <rules>
            <name>ResetRule4isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InResetRule4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddResetRule3</targetReference>
            </connector>
            <label>ResetRule4isNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reset_Count_equlas_0</name>
        <label>Reset Count equlas 0</label>
        <locationX>380</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Get_Reset_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>預設成果</defaultConnectorLabel>
        <rules>
            <name>equlas_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reset_Count_Limit</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>count_equlas_0</targetReference>
            </connector>
            <label>equlas 0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Staging_Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Staging_Lead : Distribute Staging Lead</label>
    <loops>
        <name>Loop_Filter_RM</name>
        <label>Loop Filter RM</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <collectionReference>Filter_RM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Filter_RM_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_RM_Lead_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Personnel</name>
        <label>Loop Personnel</label>
        <locationX>380</locationX>
        <locationY>1082</locationY>
        <collectionReference>Get_Personnel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Current_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Result_Personnels</name>
        <label>Loop Result Personnels</label>
        <locationX>710</locationX>
        <locationY>4094</locationY>
        <collectionReference>ResultPersonnels</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Result_Filter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Result_Personnels</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_RM</name>
        <label>Loop Selected RM</label>
        <locationX>380</locationX>
        <locationY>1814</locationY>
        <collectionReference>SelectRMDataTable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Selected_RM_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Input_Reset_Count_Limit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Personnel</name>
        <label>Get Personnel</label>
        <locationX>380</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Personnel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name__c</field>
            <operator>In</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Personnel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renew_Personnel</name>
        <label>Get Renew Personnel</label>
        <locationX>380</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_RM_DataTable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name__c</field>
            <operator>In</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Personnel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Result_Personnel</name>
        <label>Get Result Personnel</label>
        <locationX>710</locationX>
        <locationY>4610</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rechange_Campaign_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name__c</field>
            <operator>In</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Personnel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Result_Staging_Lead</name>
        <label>Get Result Staging Lead</label>
        <locationX>710</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Update_Personnels</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Staging_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RM</name>
        <label>Get RM</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_RM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Belong_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TW</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RM_Lead_Count</name>
        <label>Get RM Lead Count</label>
        <locationX>380</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Personnel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dist_User__c</field>
            <operator>In</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Staging_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_Status</name>
        <label>Update Campaign Status</label>
        <locationX>798</locationX>
        <locationY>3578</locationY>
        <connector>
            <targetReference>List_Reassignment</targetReference>
        </connector>
        <inputReference>Get_Campaign</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Count</name>
        <label>Update Count</label>
        <locationX>380</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Get_Renew_Personnel</targetReference>
        </connector>
        <inputReference>UpdatePersonnels</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Result_Personnels</name>
        <label>Update Result Personnels</label>
        <locationX>710</locationX>
        <locationY>4502</locationY>
        <connector>
            <targetReference>Get_Result_Personnel</targetReference>
        </connector>
        <inputReference>UpdatePersonnels</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>710</locationX>
        <locationY>4826</locationY>
        <connector>
            <targetReference>Call_Back_Screen</targetReference>
        </connector>
        <inputReference>Get_Campaign</inputReference>
    </recordUpdates>
    <screens>
        <name>Call_Back_Screen</name>
        <label>Call Back Screen</label>
        <locationX>710</locationX>
        <locationY>4934</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Call_Back_DataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Personnel__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Personnel__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showPagination</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordsPerPage</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Cust_Group__c,Unit__c,Dept__c,Name__c,Emp_No__c,Dispatch_Case__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Cust_Group__c:243, Unit__c:243, Dept__c:243, Name__c:243, Emp_No__c:243, Dispatch_Case__c:243</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Result_Personnel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>710</locationX>
        <locationY>3254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Campaign_Status_Confirm</targetReference>
        </connector>
        <fields>
            <name>ConfirmText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;是否確定執行重分配?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Screen</name>
        <label>Confirm Screen</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
        <fields>
            <name>Confirm_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Label.Distribute_Confirm_Text}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>count_equlas_0</name>
        <label>count equlas 0</label>
        <locationX>50</locationX>
        <locationY>2330</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>equlas0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;不可輸入0以下數字&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Reset_Count_Limit</name>
        <label>Input Reset Count Limit</label>
        <locationX>380</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_Count_equlas_0</targetReference>
        </connector>
        <fields>
            <name>Reset_Count_Limit</name>
            <dataType>Number</dataType>
            <fieldText>請輸入此筆重分配下，各RM可分配之名單上限數量</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ResetRule</name>
        <label>ResetRule</label>
        <locationX>710</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecisionResetRule</targetReference>
        </connector>
        <fields>
            <name>Reset_Rule_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;請輸入此次重分配的名單排序規則&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ResetRule_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ResetRule_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InResetRule1</name>
                    <choiceReferences>Rule1</choiceReferences>
                    <choiceReferences>Rule2</choiceReferences>
                    <choiceReferences>Rule3</choiceReferences>
                    <choiceReferences>Rule4</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>排序欄位1</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>InResetRule2</name>
                    <choiceReferences>Rule1</choiceReferences>
                    <choiceReferences>Rule2</choiceReferences>
                    <choiceReferences>Rule3</choiceReferences>
                    <choiceReferences>Rule4</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>排序欄位2</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>InResetRule1</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InResetRule3</name>
                    <choiceReferences>Rule1</choiceReferences>
                    <choiceReferences>Rule2</choiceReferences>
                    <choiceReferences>Rule3</choiceReferences>
                    <choiceReferences>Rule4</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>排序欄位3</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>InResetRule2</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InResetRule4</name>
                    <choiceReferences>Rule1</choiceReferences>
                    <choiceReferences>Rule2</choiceReferences>
                    <choiceReferences>Rule3</choiceReferences>
                    <choiceReferences>Rule4</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>排序欄位4</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>InResetRule3</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ResetRule_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Order1</name>
                    <choiceReferences>OrderAsc</choiceReferences>
                    <choiceReferences>OrderDesc</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>OrderAsc</defaultSelectedChoiceReference>
                    <fieldText>排序欄位1-順序</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>InResetRule1</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Order2</name>
                    <choiceReferences>OrderAsc</choiceReferences>
                    <choiceReferences>OrderDesc</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>OrderAsc</defaultSelectedChoiceReference>
                    <fieldText>排序欄位2-順序</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>InResetRule2</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Order3</name>
                    <choiceReferences>OrderAsc</choiceReferences>
                    <choiceReferences>OrderDesc</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>OrderAsc</defaultSelectedChoiceReference>
                    <fieldText>排序欄位3-順序</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>InResetRule3</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Order4</name>
                    <choiceReferences>OrderAsc</choiceReferences>
                    <choiceReferences>OrderDesc</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>OrderAsc</defaultSelectedChoiceReference>
                    <fieldText>排序欄位4-順序</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>InResetRule4</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_RM_DataTable</name>
        <label>Select RM DataTable</label>
        <locationX>380</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Selected_RM</targetReference>
        </connector>
        <fields>
            <name>SelectRMDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Personnel__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Personnel__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Renew_Personnel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showPagination</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordsPerPage</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Unit__c,Dept__c,Cust_Group__c,Name__c,Emp_No__c,Dispatch_Case__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Unit__c:243, Dept__c:243, Cust_Group__c:243, Name__c:243, Emp_No__c:243, Dispatch_Case__c:243</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SeletedRange</name>
        <label>選擇分派範圍</label>
        <locationX>710</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisionRange</targetReference>
        </connector>
        <fields>
            <name>Range_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;請選擇此次將依據何範圍進行重分配&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SeletedRange_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SeletedRange_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UniqueRange1</name>
                    <choiceReferences>Range1</choiceReferences>
                    <choiceReferences>Range2</choiceReferences>
                    <choiceReferences>Range3</choiceReferences>
                    <choiceReferences>Range4</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>重分配範圍1</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>UniqueRange2</name>
                    <choiceReferences>Range1</choiceReferences>
                    <choiceReferences>Range2</choiceReferences>
                    <choiceReferences>Range3</choiceReferences>
                    <choiceReferences>Range4</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>重分配範圍2</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>UniqueRange1</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>UniqueRange3</name>
                    <choiceReferences>Range1</choiceReferences>
                    <choiceReferences>Range2</choiceReferences>
                    <choiceReferences>Range3</choiceReferences>
                    <choiceReferences>Range4</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>重分配範圍3</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>UniqueRange2</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>UniqueRange4</name>
                    <choiceReferences>Range1</choiceReferences>
                    <choiceReferences>Range2</choiceReferences>
                    <choiceReferences>Range3</choiceReferences>
                    <choiceReferences>Range4</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>重分配範圍4</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>UniqueRange3</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirm_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Current_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Staging_Lead__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_RM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_Result_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Staging_Lead__c</objectType>
    </variables>
    <variables>
        <name>MaxCountString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderValue</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Rangevalue</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>ResetRuleVal</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResultPersonnels</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Personnel__c</objectType>
    </variables>
    <variables>
        <name>SelectedRMID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRMPersonnelID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TempPersonnel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Personnel__c</objectType>
    </variables>
    <variables>
        <name>TempStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatePersonnels</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Personnel__c</objectType>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
