code/force-app/main/default/flows/Staging_Lead_Repeat_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Update_Account_List</name>
        <label>Update Account List</label>
        <locationX>264</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_Developing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Account_RM_Not_NUll</name>
        <label>Is Account RM Not NUll</label>
        <locationX>396</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Loop_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RM_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Account.Responsible_RM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_List</targetReference>
            </connector>
            <label>RM Not Null</label>
        </rules>
    </decisions>
    <description>上傳名單時，若此ID在帳戶(Account)中已有負責人，此名單須註記</description>
    <environments>Default</environments>
    <interviewLabel>Staging Lead : {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Staging Lead : Repeat Reminder</label>
    <loops>
        <name>Loop_Account</name>
        <label>Loop Account</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Account_RM_Not_NUll</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Data_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TW</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterFormula>ISPICKVAL({!$Record.Related_Campaign__r.Distribute_Country__c}, &apos;TW&apos;)</filterFormula>
        <object>Staging_Lead__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdateStagingLeadList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Staging_Lead__c</objectType>
    </variables>
</Flow>
