code/force-app/main/default/flows/Survey_Result_Item_Check_If_It_Is_a_Recommended_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Flag_Value1</name>
        <label>Assign Flag Value1</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>IsRecommended</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tick_Recommended_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Value10</name>
        <label>Assign Flag Value10</label>
        <locationX>2426</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>IsRecommended</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tick_Recommended_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Value11</name>
        <label>Assign Flag Value11</label>
        <locationX>2690</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>IsRecommended</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tick_Recommended_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Value12</name>
        <label>Assign Flag Value12</label>
        <locationX>2954</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>IsRecommended</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tick_Recommended_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Value13</name>
        <label>Assign Flag Value13</label>
        <locationX>3218</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>IsRecommended</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tick_Recommended_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Value14</name>
        <label>Assign Flag Value14</label>
        <locationX>3482</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>IsRecommended</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tick_Recommended_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Value15</name>
        <label>Assign Flag Value15</label>
        <locationX>3746</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>IsRecommended</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tick_Recommended_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Value16</name>
        <label>Assign Flag Value16</label>
        <locationX>4010</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>IsRecommended</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tick_Recommended_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Value17</name>
        <label>Assign Flag Value17</label>
        <locationX>4274</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>IsRecommended</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tick_Recommended_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Value2</name>
        <label>Assign Flag Value2</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>IsRecommended</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tick_Recommended_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Value3</name>
        <label>Assign Flag Value3</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>IsRecommended</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tick_Recommended_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Value4</name>
        <label>Assign Flag Value4</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>IsRecommended</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tick_Recommended_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Value5</name>
        <label>Assign Flag Value5</label>
        <locationX>1106</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>IsRecommended</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tick_Recommended_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Value6</name>
        <label>Assign Flag Value6</label>
        <locationX>1370</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>IsRecommended</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tick_Recommended_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Value7</name>
        <label>Assign Flag Value7</label>
        <locationX>1634</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>IsRecommended</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tick_Recommended_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Value8</name>
        <label>Assign Flag Value8</label>
        <locationX>1898</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>IsRecommended</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tick_Recommended_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Value9</name>
        <label>Assign Flag Value9</label>
        <locationX>2162</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>IsRecommended</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tick_Recommended_Checkbox</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Product_Recommendation</name>
        <label>Check Product Recommendation</label>
        <locationX>2294</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Tick_Recommended_Checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Export_bill_negotiation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>出口押匯</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExportRevenue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Export_Receipt__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>LC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Customer_Prod_Sales_Model__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>外銷</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Value1</targetReference>
            </connector>
            <label>出口押匯</label>
        </rules>
        <rules>
            <name>Export_DA_or_DP_financing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>出口D/A或D/P融資</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExportRevenue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Customer_Prod_Sales_Model__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>外銷</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Export_Receipt__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DA/DP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Value2</targetReference>
            </connector>
            <label>出口D/A或D/P融資</label>
        </rules>
        <rules>
            <name>Export_OA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>出口OA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExportRevenue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Customer_Prod_Sales_Model__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>內銷</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Export_Receipt__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Value3</targetReference>
            </connector>
            <label>出口OA</label>
        </rules>
        <rules>
            <name>Accounts_Receivable</name>
            <conditionLogic>9 AND ((1 AND 2 AND 3 AND 4) OR (5 AND 6 AND 3 AND 7) OR (1 AND 8) OR (5 AND 8))</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Customer_Prod_Sales_Model__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>外銷</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Export_Receipt__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Ship_60Days_Known_Mfrs__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>是</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExportRevenue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Customer_Prod_Sales_Model__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>內銷</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Domestic_Receipt__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExportRevenueDiff</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Other_Bank_Factoring__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>是</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>應收帳款承購業務</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Value4</targetReference>
            </connector>
            <label>應收帳款承購業務</label>
        </rules>
        <rules>
            <name>Import</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>進口開狀</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Customer_Prod_Sales_Model__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>外購</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Outsourcing_Payment__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>LC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OutsourcingRevenue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0E7</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Value5</targetReference>
            </connector>
            <label>進口開狀</label>
        </rules>
        <rules>
            <name>Import_DA_or_DP_financing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>進口D/A或D/P融資</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Customer_Prod_Sales_Model__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>外購</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Outsourcing_Payment__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DA/DP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OutsourcingRevenue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0E7</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Value6</targetReference>
            </connector>
            <label>進口D/A或D/P融資</label>
        </rules>
        <rules>
            <name>Import_OA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>進口OA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Customer_Prod_Sales_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>外購</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Outsourcing_Payment__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OutsourcingRevenue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0E7</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Value7</targetReference>
            </connector>
            <label>進口OA</label>
        </rules>
        <rules>
            <name>Supply_Chain_Financing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Ship_To_Sales_Target_SC_Fin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>是</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>供應鏈融資</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Value8</targetReference>
            </connector>
            <label>供應鏈融資</label>
        </rules>
        <rules>
            <name>Forward</name>
            <conditionLogic>6 AND ((5 AND 2) OR (1 AND 3) OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>NoOfCurrencies</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RevenueABS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RevenueMAX</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Other_Bank_PSR_Limit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>是</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoOfCurrencies</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>遠期</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Value9</targetReference>
            </connector>
            <label>遠期</label>
        </rules>
        <rules>
            <name>Exchange_Currency</name>
            <conditionLogic>6 AND ((1 AND 2) OR (3 AND 5) OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>NoOfCurrencies</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RevenueABS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoOfCurrencies</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Other_Bank_PSR_Limit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>是</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RevenueMAX</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>換匯</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Value10</targetReference>
            </connector>
            <label>換匯</label>
        </rules>
        <rules>
            <name>Exchange_Rate_Options</name>
            <conditionLogic>8 AND ((1 AND 2 AND 3) OR (4 AND 5 AND 3) OR (6 AND 7))</conditionLogic>
            <conditions>
                <leftValueReference>NoOfCurrencies</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RevenueABS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalCash</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoOfCurrencies</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RevenueMAX</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Other_Bank_PSR_Limit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>是</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Collateral__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>是</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>匯率選擇權</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Value11</targetReference>
            </connector>
            <label>匯率選擇權</label>
        </rules>
        <rules>
            <name>Structural_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>結構型產品</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalCash</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoOfCurrencies</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Value12</targetReference>
            </connector>
            <label>結構型產品</label>
        </rules>
        <rules>
            <name>Bonds</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>債券</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Other_Bank_Prof_Investor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>是</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Bank_Prof_Investor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>是</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalCash</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0E7</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Value13</targetReference>
            </connector>
            <label>債券</label>
        </rules>
        <rules>
            <name>Credit_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>信用卡收單</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Customer_Prod_Sales_Model__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>內銷</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Sales_Target_is_a_Natural_Person__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>是</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Buyer_Credit_Card_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>是</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExportRevenueDiff</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Value14</targetReference>
            </connector>
            <label>信用卡收單</label>
        </rules>
        <rules>
            <name>Enterprise_Cardless_Deposit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>企業無卡入金</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Customer_Prod_Sales_Model__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>內銷</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Sales_Target_is_a_Natural_Person__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>是</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Retail_Clerks_Deposit_Needs__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>是</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExportRevenueDiff</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Value15</targetReference>
            </connector>
            <label>企業無卡入金</label>
        </rules>
        <rules>
            <name>Collection_and_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>代收付</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Customer_Prod_Sales_Model__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>內銷</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Sales_Target_is_a_Natural_Person__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>是</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExportRevenueDiff</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Payment_Recipients_AAC_Need_DPC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>是</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Value16</targetReference>
            </connector>
            <label>代收付</label>
        </rules>
        <rules>
            <name>Salary_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>薪轉</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.OBU_Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>否</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Company_Emp_No__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account_Plan.Salary_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>否</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Value17</targetReference>
            </connector>
            <label>薪轉</label>
        </rules>
    </decisions>
    <description>Added auto recommended flag</description>
    <environments>Default</environments>
    <formulas>
        <description>Revenue x 外銷比例</description>
        <name>ExportRevenue</name>
        <dataType>Number</dataType>
        <expression>({!Get_Related_Account_Plan.Last_Yr_Fin_Report_Revenue__c}* 100000000) * ({!Get_Related_Account_Plan.Export_Percent__c} / 100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>公司近一年完整年度財報營收 (億元) x (1-外銷%)</description>
        <name>ExportRevenueDiff</name>
        <dataType>Number</dataType>
        <expression>({!Get_Related_Account_Plan.Last_Yr_Fin_Report_Revenue__c}* 100000000) * ((100-{!Get_Related_Account_Plan.Export_Percent__c}) / 100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NoOfCurrencies</name>
        <dataType>Number</dataType>
        <expression>PICKLISTCOUNT({!Get_Related_Account_Plan.Transaction_Currency__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>公司近一年完整年度財報營收 x 外購比例</description>
        <name>OutsourcingRevenue</name>
        <dataType>Number</dataType>
        <expression>({!Get_Related_Account_Plan.Last_Yr_Fin_Report_Revenue__c}* 100000000) * ({!Get_Related_Account_Plan.Outsourcing_Percent__c} / 100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>公司近一年完整年度財報營收*ABS(外購比例-外銷比例)*0.1/30*100,000,000</description>
        <name>RevenueABS</name>
        <dataType>Number</dataType>
        <expression>{!Get_Related_Account_Plan.Last_Yr_Fin_Report_Revenue__c} * (ABS({!Get_Related_Account_Plan.Outsourcing_Percent__c} - {!Get_Related_Account_Plan.Export_Percent__c})/100) * 0.1/30 * 100000000</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>公司近一年完整年度財報營收*MAX(外購比例,外銷比例)*0.1/30*100,000,000</description>
        <name>RevenueMAX</name>
        <dataType>Number</dataType>
        <expression>{!Get_Related_Account_Plan.Last_Yr_Fin_Report_Revenue__c} * (MAX({!Get_Related_Account_Plan.Outsourcing_Percent__c},{!Get_Related_Account_Plan.Export_Percent__c})/100) * 0.1/30 * 100000000</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalCash</name>
        <dataType>Number</dataType>
        <expression>{!Get_Related_Account_Plan.Bank_Cash_Convert_TWD__c} + {!Get_Related_Account_Plan.Other_Bank_Cash_Convert_TWD__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Survey Result Item: Check If It Is a Recommended Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Result Item: Check If It Is a Recommended Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Account_Plan</name>
        <label>Get Related Account Plan</label>
        <locationX>2294</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Product_Recommendation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Plan__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Tick_Recommended_Checkbox</name>
        <label>Tick Recommended Checkbox</label>
        <locationX>2294</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Is_Auto_Recommended__c</field>
            <value>
                <elementReference>IsRecommended</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Suggested_Product__c</field>
            <value>
                <elementReference>IsRecommended</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2168</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Account_Plan</targetReference>
        </connector>
        <object>Survey_Result_Items__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Flag variable to check if the current record should be recommended</description>
        <name>IsRecommended</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
